@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}






header {
    padding: 15px;
    background-color: #39AFE6;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;
    align-items: center;
}

#lista {
    padding: 20px 0px 0px 0px;
    position: absolute;
    margin-left: 15%;
    
   

}

.a-li {
    text-decoration: none;
    color: cornsilk;
    font-size: 15px;
    font-weight: bold;
    display: block;
    padding: 15px;
    margin: 0px;
    
}

.a-li:hover {
    color: crimson;
    background-color: darkgoldenrod;
    transition: 0.5;
}

#ul-menu {
    display: flex;
    gap: 10px;
    list-style: none;

    
}

   img{
       height: 90px;
       width: 90px;
       margin-right: 10%;

       
   }


   body {
         
        font-family: Arial, Helvetica, sans-serif;
       margin-left: 10%;
    margin-right: 9%;
    background-color:#02330f;
         
   }
   
   
 
   #imagens{
       margin-top: auto;
       margin-left: auto;
       
   }

#div33{
    background-color: green;
    margin-top: 100px;
    width: 700px;
    height: auto;
    position: absolute;
}
#div1{
   
    background-image: url(nj.jpeg);
    height: 600px;
    width: 571px;
    left: 650px;
    top: 120px;
    position: absolute;
}


#header2 {
    margin: auto;
}

#ltr {
    width: 120px;
}